@mixin background-settings($width, $height) {
  width: $width;
  height: $height;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin black-button($padding) {
  padding: $padding;
  border: 1px solid $yellow;
  background-color: $semi-transparent-black;
  color: white;
  font-weight: 500;
  border-radius: 20px;

  @include big-screen {
    padding: 30px 90px;
  }

  @include panoramic {
    padding: 40px 120px;
    font-size: 1.5em;
  }

  &:hover {
    color: $yellow;
  }
}

@mixin yellow-button($padding) {
  color: black;
  background-color: $yellow;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: $shadow-small-elems;
  padding: $padding;
  border: none;
}

@mixin big-screen {
  @media (min-width: $big-screen-width) and (max-width: 2300px) {
    @content;
  }
}

@mixin panoramic {
  @media (min-width: 2300px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin input($width, $height) {
  height: $height;
  width: $width;
  border-radius: 0.5em;
  font-size: 16px;
  font-family: $main-font;
  border: none;
  box-shadow: $shadow-inputs;
  &:focus {
    outline: 3px solid $yellow;
    outline-offset: -3px;
  }
}

@mixin button-app($width) {
  padding: 0.5em 1em;
  width: $width;
  background-color: $yellow-mid;
  border: none;
  border-radius: 10px;
  margin-right: 2em;
  box-shadow: $shadow-inputs;
  margin-bottom: 2em;
  &:hover {
    box-shadow: $shadow-small-elems;
    background-color: $yellow;
  }
  &:active {
    background-color: $yellow-dark;
    box-shadow: $shadow-inset;
  }
}
@mixin app-card($overflow) {
  overflow-y: $overflow;
  margin: 4em 7em 4em 9em;
  background: $white-semi-bg;
  padding: 2em;
  color: $grey;
  height: 75vh;
  border-radius: 1em;
  box-shadow: $shadow-inputs;
  display: block;
  position: relative;
}
