$main-font: "Raleway", sans-serif;

$yellow: #ffff00;
$semi-transparent-black: rgba(0, 0, 0, 0.7);
$semi-transparent-yelow: #ffff0030;

$big-screen-width: 1800px;
$tablet-width: 960px;

$shadow-small-elems: 5px 5px 7px black;

$white-transparent-bg: rgba(255, 255, 255, 0.8);
