$main-font: "Raleway", sans-serif;

$yellow: #ffff00;
$semi-transparent-black: rgba(0, 0, 0, 0.7);
$semi-transparent-yelow: #ffff0030;

$big-screen-width: 1800px;
$tablet-width: 960px;

$shadow-small-elems: 5px 5px 7px rgba(0, 0, 0, 0.611);

$white-transparent-bg: rgba(255, 255, 255, 0.8);
$white-semi-bg: rgba(255, 255, 255, 0.568);
$yellow-low-saturation: #ffff00af;
$grey: #5f5f5f;
$shadow-inputs: 3px 3px 5px rgba(0, 0, 0, 0.373);
$err: rgb(170, 0, 0);
$grey-mid: #878787;
$grey-mid-transparent: #87878756;
$grey-dark-transparent: #6262628d;
$yellow-mid: #ffff0090;
$yellow-dark: #a4a42ab2;
$shadow-inset: inset 2px 2px 5px rgba(0, 0, 0, 0.347);
$ok: rgb(0, 155, 0);
$grey-light-transparent: #b6b6b663;
$shadow-inset-black-buttons: inset 5px 5px 7px rgba(0, 0, 0, 0.627);
