.articles {
  background-image: url(../assets/cat-close-up.jpg);
  @include background-settings(100%, 1200px);
  position: relative;
  z-index: -4;
  &-background-element {
    width: 70%;
    height: 70%;
    position: absolute;
    top: -150px;
    z-index: -1;
    background-color: $semi-transparent-yelow;
    left: 15%;
  }
  &-cards-container {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
  }
  &-button {
    @include black-button(1em 3em);
    margin-top: 4em;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.article-card {
  width: 18em;
  height: 31em;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 40px;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  gap: 30px;
  display: flex;
  padding-top: 25px;
  position: relative;
  outline: 3px solid $yellow;
  outline-offset: -3px;

  &-img {
    width: 14em;
    height: 17em;
    border-radius: 40px;
    object-fit: cover;
    object-position: center center;
  }

  &-title {
    font-size: 1.2em;
    font-weight: 500;
    width: 280px;
  }
  &-paragraph {
    width: 15em;
  }
}
