.care-app {
  background-image: url(../assets/dog-tongue-opacity50.jpg);
  @include background-settings(80vw, 100vh);
  float: right;

  &-nav {
    display: flex;
    flex-direction: column;

    &-bg {
      background-color: $grey;
      height: 100vh;
      width: 20vw;
      position: absolute;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.422);
    }
  }

  &-signup {
    position: absolute;
    bottom: 0;
  }

  &-sitters {
    background-image: url(../assets/bulldog-on-a-chair-opacity50.jpg);
    @include background-settings(80vw, 100vh);
    float: right;
  }

  &-pets {
    background-image: url(../assets/cat-in-a-blanket-opacity50.jpg);
    @include background-settings(80vw, 100vh);
    float: right;
  }
  &-header {
    font-size: 25px;
    background-color: $grey-light-transparent;
    box-sizing: border-box;
    padding: 0.5em;
    color: $grey;
    font-weight: 600;
    width: 400px;
    text-align: center;
    border-radius: 0 15px 15px 0;
    margin-top: 1em;
  }
}

.care-nav {
  text-decoration: none;
  color: white;
  border-left: 5px solid transparent;
  padding: 1em 1em;
  font-weight: 500;
  font-size: 23px;
  &:visited {
    color: $grey-visited;
  }

  &:hover {
    color: $yellow;
    border-left: 5px solid $yellow;
  }
  &:focus {
    color: white;
    border-left: 5px solid $yellow;
  }

  &:active {
    color: $yellow-dark;
    border-left: 5px solid $yellow-dark;
  }
}
.adoptions-bg {
  background-image: url(../assets/dog-peekaboo-opacity50.jpg);
  @include background-settings(80vw, 100vh);
  float: right;
}
.adoptions-card {
  @include app-card(none);
}
.care-card {
  margin: 10em 10em 4em 10em;
  background: $white-semi-bg;
  padding: 2em;
  color: $grey;
  height: 40vh;
  border-radius: 1em;
  box-shadow: $shadow-inputs;
  display: block;
  position: relative;
}
