.dashboard {
  background-color: $grey;
  height: 100vh;
  width: 20vw;
  position: absolute;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.422);
  display: flex;
  flex-direction: column;

  &-navlink {
    text-decoration: none;
    color: white;
    border-left: 5px solid transparent;
    padding: 1em 1em;
    font-weight: 500;
    font-size: 23px;
    cursor: pointer;

    &:visited {
      color: $grey-visited;
    }

    &:hover {
      color: $yellow;
      border-left: 5px solid $yellow;
    }
    &:focus {
      color: white;
      border-left: 5px solid $yellow;
    }

    &:active {
      color: $yellow-dark;
      border-left: 5px solid $yellow-dark;
    }

    &-profile {
      font-weight: 500;
      font-size: 18px;
      text-decoration: none;
      color: white;
      border-left: 5px solid transparent;
      padding: 1em 2em;

      &:visited {
        color: $grey-visited;
      }

      &:hover {
        color: $yellow;
        border-left: 5px solid $yellow;
      }
      &:focus {
        color: white;
        border-left: 5px solid $yellow;
      }

      &:active {
        color: $yellow-dark;
        border-left: 5px solid $yellow-dark;
      }
    }
  }
  &-bg {
    background-image: url(../assets/bulldog-sleeping-opacity50.jpg);
    @include background-settings(85vw, 100vh);
    float: right;
  }

  &-logout {
    cursor: pointer;
    border-left: 5px solid transparent;
    &:visited {
      color: $grey-visited;
    }

    &:hover {
      color: $yellow;
      border-left: 5px solid $yellow;
    }
    &:focus {
      color: white;
      border-left: 5px solid $yellow;
    }

    &:active {
      color: $yellow-dark;
      border-left: 5px solid $yellow-dark;
    }
  }
}
