.backgrounds {
  background-image: url(../assets/dog-smiling-small.jpg);
  @include background-settings(100%, 100vh);
  background-position: top center;
  position: relative;
}
.header {
  padding-top: 1em;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
  z-index: 3;

  &_nav_button {
    @include black-button(25px 60px);
  }

  &_logo {
    width: 230px;
    height: 70px;

    @include big-screen {
      width: 270px;
      height: 90px;
    }
    @include panoramic {
      width: 350px;
      height: 110px;
    }
  }

  &_logo-background {
    background-color: $semi-transparent-yelow;
    height: 250px;
    width: 250px;
    margin-left: 10vw;
    margin-top: 8%;

    @include big-screen {
      margin-top: 15%;
    }

    &-logo {
      height: 190px;
      width: 250px;

      margin-top: 20px;
    }
  }
}
.banner_title,
.banner_text {
  color: white;
  margin-left: 10%;
  width: 450px;
  margin-top: 1em;
}

.banner_title {
  font-size: 2em;
}
.banner_text {
  font-size: 1.2em;
  margin-bottom: 2%;
}
