.messages-bg {
  background-image: url(../assets/pug-blanket-opacity50.jpg);
  @include background-settings(85vw, 100vh);
  float: right;

  .messages {
    margin: 5em 7em 5em 10em;
    background: $white-semi-bg;
    padding: 2em;
    color: $grey;
    overflow-y: scroll;
    height: 500px;
    border-radius: 1em;
    box-shadow: $shadow-inputs;

    &-card {
      margin: 1em;
      padding: 1em;
      height: 50px;
      border-radius: 1em;
      background-color: $white-semi-bg;
      box-shadow: $shadow-inputs;

      &:hover {
        background-color: $semi-transparent-yelow;
        box-shadow: $shadow-small-elems;
      }
      &:active {
        background-color: $semi-transparent-black;
        color: white;
      }
    }
  }
}
