.messages-bg {
  background-image: url(../assets/pug-blanket-opacity50.jpg);
  @include background-settings(85vw, 100vh);
  float: right;

  .messages {
    @include app-card(scroll);

    &-card {
      margin: 1em;
      padding: 1em;
      height: 50px;
      border-radius: 1em;
      background-color: $white-semi-bg;
      box-shadow: $shadow-inputs;

      &:hover {
        background-color: $grey-light-transparent;
        box-shadow: $shadow-small-elems;
      }
      &:active {
        background-color: $grey-dark-transparent;
        color: white;
        box-shadow: $shadow-inset;
      }
      &:visited {
        color: $grey-mid;
      }
    }
    &-link {
      text-decoration: none;
      color: black;

      &:visited {
        color: $grey-mid;
      }
    }
    &-button {
      background-color: $grey-mid-transparent;
      padding: 0.5em 1em;
      border: none;
      margin-bottom: 0;
      border-radius: 20px 20px 0 0;
      margin-right: 5px;
    }
    &-card-switch {
      background-color: $white-semi-bg;
      margin-top: 0;
      padding: 1em;
      border-radius: 0 20px 20px 20px;
    }
    &-header {
      font-weight: 600;
      margin-bottom: 0.5em;
    }
    &-timestamp {
      font-size: 16px;
    }
    &-message {
      margin: 1em;
      padding: 1em;
      min-height: 50px;
      border-radius: 1em;
      background-color: $white-semi-bg;
      box-shadow: $shadow-inputs;
      box-sizing: border-box;
      width: 70%;
    }
    &-reply {
      margin: 1em;
      padding: 1em;
      min-height: 50px;
      border-radius: 1em;
      background-color: $grey-light-transparent;
      box-shadow: $shadow-inputs;
      box-sizing: border-box;
      width: 70%;
      margin-left: 25%;

      &-box {
        position: absolute;
        bottom: 2em;
      }
      &-input {
        @include input(40vw, 70px);
      }
      &-button {
        @include button-app(150px);
        margin-left: 1em;
      }
    }
  }
}

.notification-card {
  margin: 1em;
  padding: 1em;
  height: 50px;
  border-radius: 1em;
  background-color: $white-semi-bg;
  box-shadow: $shadow-inputs;

  &:hover {
    background-color: $grey-light-transparent;
    box-shadow: $shadow-small-elems;
  }
  &:active {
    background-color: $grey-dark-transparent;
    color: white;
    box-shadow: $shadow-inset;
  }
  &:visited {
    color: $grey-mid;
  }
}

.read-msg-userpf {
  position: absolute;
  top: 0;
  right: 20px;
  text-decoration: none;
  color: $grey;
  font-weight: 700;

  &:visited {
    color: $grey-mid-transparent;
  }

  &:hover {
    color: black;
  }
  &:focus {
    color: $yellow-dark;
  }

  &:active {
    color: $yellow;
  }
}
