.signin {
  background-image: url(../assets/black-cat.jpg);
  @include background-settings(85vw, 100vh);
  background-position: center center;
  display: flex;
  align-items: center;
  padding-left: 15%;

  .fa-solid {
    font-size: 2.5em;
    padding-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .sign-form {
    background-color: $white-semi-bg;
    border-radius: 20px 0 0 20px;
    height: 420px;
    padding: 2em;

    &-input {
      @include input(250px, 2.5em);
      box-shadow: 3px 3px 5px $semi-transparent-black;
      margin-bottom: 20px;
    }
    &-button {
      @include yellow-button(0.4em 1em);
      margin-top: 1em;
      border: none;
    }
    &-title {
      padding-bottom: 1em;
    }
    &-label {
      margin-bottom: 10px;
    }
  }
}

.signup {
  height: 420px;
  border-radius: 0 20px 20px 0;
  background-color: $semi-transparent-yelow;
  padding: 2em;
}
