@keyframes switch {
  from {
    width: 100px;
  }
  to {
    width: 300px;
  }
}
@keyframes switch-left {
  from {
    width: 300px;
  }
  to {
    width: 100px;
  }
}

@keyframes appear {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  30% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.signin {
  background-image: url(../assets/black-cat.jpg);
  @include background-settings(85vw, 100vh);
  background-position: center center;
  display: flex;
  align-items: center;
  padding-left: 15%;
  .sign-form {
    background-color: $white-semi-bg;
    border-radius: 20px 0 0 20px;
    height: 420px;
    padding: 2em;

    &-input {
      @include input(250px, 2.5em);
      box-shadow: 3px 3px 5px $semi-transparent-black;
      margin-bottom: 20px;
      border: none;
    }
    &-button {
      @include yellow-button(0.4em 1em);
      margin-top: 1em;
      border: none;
      &:active {
        background-color: $semi-transparent-black;
        color: $yellow;
      }
    }
    &-title {
      padding-bottom: 1em;
    }
    &-label {
      margin-bottom: 10px;
    }
    &-err {
      margin-top: 1em;
      color: $err;
      font-weight: 600;
    }
    &-passwd {
      margin-top: 10px;
      &-link {
        color: white;
        text-decoration: none;
        &:hover {
          color: $yellow;
        }
      }
    }
  }
}

.signup {
  height: 420px;
  border-radius: 0 20px 20px 0;
  background-color: $semi-transparent-yelow;
  padding: 2em;

  &-navlink {
    color: white;
    text-decoration: none;
    &-button {
      padding: 0.7em 1em;
      background-color: $semi-transparent-black;
      width: 400px;
      border: none;
      display: flex;
      justify-content: center;
      border-radius: 10px;
      box-shadow: $shadow-inputs;
      color: white;
      outline: 1px solid $yellow;
      &:hover {
        color: $yellow;
        box-shadow: 5px 5px 10px black;
      }
      &:active {
        background-color: $grey-light-transparent;
        box-shadow: $shadow-inset-black-buttons;
      }
    }
  }
  &-navlinks {
    display: flex;
    position: absolute;
    right: 60px;
    gap: 40px;
    flex-direction: column;
    bottom: 19vh;
  }
}
.sign-box {
  cursor: pointer;
  .fa-solid {
    font-size: 2.5em;
    padding-left: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  &:hover {
    color: $yellow;
  }
}
