.petpf-bg {
  background-image: url(../assets/dog-upsidedown-opacity50.jpg);
  @include background-settings(85vw, 100vh);
  float: right;
}

.profile-message-container {
  .profile-headline {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 22px;
    margin-top: 1em;
  }
  .profile-textarea {
    @include input(30vw, 100px);
  }
  .profile-send-message {
    @include yellow-button(0.5em 1em);
    width: 150px;
    margin-left: 1em;
  }
}
.profile-data-container {
  h3 {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 0.5em;
    margin-top: 1em;
  }
  h2 {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 22px;
  }
}
